h2 { font-family: monospace; font-size: 2em; font-style: normal;font-weight: 700; margin-bottom: 30px;} 
p, a { font-family: monospace; font-size: 1.125em; font-style: normal; font-weight: 400; margin-bottom: 8px; line-height: 1.4em;} 
h3 { font-family: monospace; font-size: 1.25em; font-style: normal;font-weight: 700; margin-bottom: 30px;} 

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  max-width: 80%;
  // height: 100vh;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto 30px auto;
  width: 70%;
  height: auto;
}

.zine-links {
  display: flex;
  border-top: 3px dotted black;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}